/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spacer {
    flex-grow: 1;
}
.medium-list {
    margin: auto;
    width: 500px;
    padding: 10px;
  }
     
  .list-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
  }
  
  .list-header-title {
    color: rgba(0, 0, 0);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;
  }
  .list-header-subtitle {
    color: rgba(0, 0, 0);
    margin-top: 1px;
    margin-bottom: 2px;
  }
  .list-header-toptitle {
    color: rgba(0, 0, 0);
    margin-top: 3px;
    margin-bottom: 1px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
 
  .divider {
    margin-top: 10px !important; 
  }
  table {
    width: 100%;
  }
  