<div class="medium-list">
    <div class="list-viewer-wrapper">
        <div class="list-header-title" style="text-align: center;">
            <h2>Welcome to Loan Management App</h2>
        </div>
        <mat-card class="example-card">
            <div class="form-container">
                <mat-card-header>
                    <mat-card-title>

                    </mat-card-title>
                    <mat-card-subtitle>
                        <h3> This website provides various loan services so that you can apply for loan from the comfort
                            of your home.
                            Please login/signup to know more about our services.
                        </h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>