    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="example-card" routerLink="/apply-loan">
          <mat-card-header>
            <mat-card-title>
              Apply For Loan
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Click here to apply for loan and get it approved from comfort of your home.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card" routerLink="/calculate-emi">
          <mat-card-header>
            <mat-card-title>
              <div>
                Calculate EMI
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Calculate your expected emi before applying for loan.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card" routerLink="/credit-balance">
          <mat-card-header>
            <mat-card-title>
              <div>
                View Credit Balance
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Check the remaining amount of repayment and other details as well.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card" routerLink="/pay-emi">
          <mat-card-header>
            <mat-card-title>
              <div>
                Pay EMI
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Pay your monthly EMI online with ease. Currently accepting Credit/Debit card only.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card" routerLink="/foreclose-loan">
          <mat-card-header>
            <mat-card-title>
              <div>
                ForeClose Your Loan
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Fore-close your loan on a feasible interest rate. *Term and conditions applied.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card" routerLink="/print-transaction">
          <mat-card-header>
            <mat-card-title>
              <div>
                Print EMI Transaction
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              View all EMI transaction at one place and take printout of all transactions.
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>